.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.create-button {
    font-size: 24px;
    margin-top: 20px;
    padding: 3px;
    border-radius: 5px;
    border-width: 1px;
    height: 60px;
    width: 510px;
    cursor: pointer;
}

.create-input {
    font-size: 18px;
    border-radius: 5px;
    width: 500px;
    margin-left: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

textarea {
    font-size: 18px;
    width: 500px;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;

}

p {
    font-size: 18px;
}

h2 {
    font-size: 30px;
    margin-bottom: 0px;
}