.main {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: center;
    margin-top: 50px;
}

.buttons-row {
    width: 1000px;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-around;
}

.input-row {
    display: flex;
    flex: 0 0 auto;
    column-gap: 16px;
    align-items: center;
}

.inputs-col {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: end;
    justify-content: space-around;
}