.flex-vertical-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.flex-horizontal-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}