body {
    height: 100%;
}

.CalendarSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

.CalendarSelectWindow {
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 30vw;
    border-style: solid;
    border-color: gray;
    border-radius: 3%;
    border-width: 0.1rem;
    background-color: #6798c0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.CalendarSelectHeader {
    text-align: center;
    font-size: 1.5rem;
}

.CalendarsList {
    width: auto;
    margin-left: 2vw;
    margin-right: 2vw;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: gray;
    border-width: 0.1rem;
    height: 35vh;
    overflow: scroll;
    background-color: #FDD85D;
}

.CalendarListItem {
    margin:1rem;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}

/* Copied from Loom */
.button {
    background: #fff;
    backface-visibility: hidden;
    border-radius: .375rem;
    border-style: solid;
    border-width: .125rem;
    box-sizing: border-box;
    color: #212121;
    cursor: pointer;
    font-family: Circular,Helvetica,sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: .875rem 1.125rem;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:not(:disabled):hover {
    transform: scale(1.05);
}

.button:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
}

.button:focus {
    outline: 0 solid transparent;
}

.button:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
}

.button:focus:not(:focus-visible) {
    outline: 0 solid transparent;
}

.button:focus:not(:focus-visible):before {
    border-width: 0;
}

.button:not(:disabled):active {
    transform: translateY(.125rem);
}

.CalendarSelectWindowFooter {
    width: auto;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 3.25vh;
}

#link {
    text-decoration: underline;
    color: #003566;
}